@font-face {
  font-family: "Castledown";
  src: url("../public/static/fonts/castledown-regular-desktop-web/castledown-regular.ttf")
    format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Castledown";
  src: url("../public/static/fonts/castledown-bold-desktop-web/castledown-bold.ttf")
    format("ttf");
  font-weight: bold;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Castledown, sans-serif;
  color: #485460;
  font-weight: bold;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

body {
  margin: 0;
  background-color: #e1e8ee;
}

p {
  font-family: Castledown, sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
}

ol,
ul,
a {
  font-family: Castledown, sans-serif;
}

.chart {
  position: absolute;
  left: 0;
}

.bold {
  font-weight: 400;
}

.tooltip {
  background-color: white;
  padding: 0.5rem;
  border: 2px solid gray;
  text-align: left;
  border-radius: 4px;
}

.chart p {
  font-size: 1rem;
  margin: 0;
  border: 0;
  font-weight: 100;
}

.chart .bold {
  font-weight: 400;
}
